In [1]:
import pandas as pd
from sklearn import linear_model
import numpy as np

In [2]:
df=pd.read_csv('homeprices.csv')

In [4]:
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [7]:
df['town']= le.fit_transform(df['town'])

In [8]:
df

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [11]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [14]:
columnTransformer = ColumnTransformer([('town',OneHotEncoder(),[0])],remainder='passthrough')

In [24]:
data = np.array(columnTransformer.fit_transform(df), dtype = np.str)

In [28]:
data

array([['1.0', '0.0', '0.0', '2600.0', '550000.0'],
       ['1.0', '0.0', '0.0', '3000.0', '565000.0'],
       ['1.0', '0.0', '0.0', '3200.0', '610000.0'],
       ['1.0', '0.0', '0.0', '3600.0', '680000.0'],
       ['1.0', '0.0', '0.0', '4000.0', '725000.0'],
       ['0.0', '0.0', '1.0', '2600.0', '585000.0'],
       ['0.0', '0.0', '1.0', '2800.0', '615000.0'],
       ['0.0', '0.0', '1.0', '3300.0', '650000.0'],
       ['0.0', '0.0', '1.0', '3600.0', '710000.0'],
       ['0.0', '1.0', '0.0', '2600.0', '575000.0'],
       ['0.0', '1.0', '0.0', '2900.0', '600000.0'],
       ['0.0', '1.0', '0.0', '3100.0', '620000.0'],
       ['0.0', '1.0', '0.0', '3600.0', '695000.0']], dtype='<U32')

In [47]:
x=data[:,1:4]
y=data[:,4]

In [48]:
x

array([['0.0', '0.0', '2600.0'],
       ['0.0', '0.0', '3000.0'],
       ['0.0', '0.0', '3200.0'],
       ['0.0', '0.0', '3600.0'],
       ['0.0', '0.0', '4000.0'],
       ['0.0', '1.0', '2600.0'],
       ['0.0', '1.0', '2800.0'],
       ['0.0', '1.0', '3300.0'],
       ['0.0', '1.0', '3600.0'],
       ['1.0', '0.0', '2600.0'],
       ['1.0', '0.0', '2900.0'],
       ['1.0', '0.0', '3100.0'],
       ['1.0', '0.0', '3600.0']], dtype='<U32')

In [49]:
y

array(['550000.0', '565000.0', '610000.0', '680000.0', '725000.0',
       '585000.0', '615000.0', '650000.0', '710000.0', '575000.0',
       '600000.0', '620000.0', '695000.0'], dtype='<U32')

In [50]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [51]:
model.fit(x.astype(np.float),y.astype(np.float))

LinearRegression()

In [52]:
model.predict([[1,0,2800]])

array([590775.63964739])