# Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
labels=['a','b','c']
mydata=[10,20,30]
arr=np.array(mydata)
d={'a':10, 'b':20, 'c':30}

In [3]:
arr

array([10, 20, 30])

In [4]:
d

{'a': 10, 'b': 20, 'c': 30}

In [5]:
pd.Series(data=mydata)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(index=labels,data=mydata)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(mydata,labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(labels,mydata)

10    a
20    b
30    c
dtype: object

In [11]:
ser1=pd.Series([1,2,3,4,5],['USA','Germany','India','Japan','Korea'])
ser1

USA        1
Germany    2
India      3
Japan      4
Korea      5
dtype: int64

In [12]:
ser2=pd.Series([1,4,5],['USA','Germany','India'])

In [13]:
ser2

USA        1
Germany    4
India      5
dtype: int64

In [14]:
ser2['USA']

1

In [15]:
ser2['India']

5

In [16]:
ser1

USA        1
Germany    2
India      3
Japan      4
Korea      5
dtype: int64

In [17]:
ser2

USA        1
Germany    4
India      5
dtype: int64

In [18]:
ser1+ser2

Germany    6.0
India      8.0
Japan      NaN
Korea      NaN
USA        2.0
dtype: float64

In [19]:
ser1-ser2

Germany   -2.0
India     -2.0
Japan      NaN
Korea      NaN
USA        0.0
dtype: float64

In [20]:
ser1*ser2

Germany     8.0
India      15.0
Japan       NaN
Korea       NaN
USA         1.0
dtype: float64